:root {
  --secondary-color: #f5f5f5;
  --text-color: #333;
  --background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
html {
  font-size: 20px;
}

.app {
  display: flex;
  width: 100%;
  /* min-height: 100vh; */
  background-color: var(--secondary-color);
  gap: 30px;
}

/* Layout /////////////////////////////////////////////////////////////////////////////////*/

.sidebar {
  color: white;
  padding: 20px 20px 20px 40px;
  background-color: #151616;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  width: 250px;
  overflow-y: auto;
  justify-content: space-between;
  align-items: center;
  transition: width 0.5s ease-in-out;
  position: fixed;
}
.minimized {
  width: 100px;
}

.sidebar h2 {
  color: #ebebeb;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
  &:hover {
    color: #c9c9c9;
    cursor: pointer;
  }
}
.sidebar ul {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.sidebar ul li {
  color: #dfdfdf;
  list-style: none;
  font-weight: 600;
  padding: 10px;
  border-left: 4px solid rgba(0, 0, 0, 0);
  position: relative;
  background: linear-gradient(90deg, purple 0%, #f7eeee 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    background-size: 100% 100%;
    background-color: #f7eeee;
    color: black;
    border-radius: 5px;
    border-left: 4px solid purple;
  }
}

.sidebar ul li.active {
  background-color: #f7eeee;
  color: black;
  border-radius: 5px;
}

.sidebar ul li label {
  font-size: 13px;
}
.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Layout /////////////////////////////////////////////////////////////////////////////////*/
.main-bar {
  padding: 20px;
  background-color: var(--secondary-color);
  overflow-y: auto;
  margin-left: 250px;
}
.main-bar {
  /* overflow-y: auto; */
}
.left-right {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1000px) {
  .left-right {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-bar {
    margin-left: 0;
  }
}

.sidebar-list-text {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.sidebar-list-text.hide {
  opacity: 0;
  pointer-events: none;
  width: 0;
}
/* /////////////////////////////////////    POTS    /////////////////////////////////// */

.pots {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.pots-header,
.transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.pots-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-top: 7px;
}
.pots h3 {
  font-weight: bold;
  font-size: 0.7rem;
  color: var(--text-color);
}
.pots-section-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background: linear-gradient(
    90deg,
    rgba(148, 11, 148, 0.336) 0%,
    #f7eeee 100%
  );
}
.pots .see-details {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #6c757d;
  font-size: 12px;
  cursor: pointer;
  &:hover {
    color: black;
  }
}
.total-saved {
  color: #6c757d;
  font-size: 10px;
}
.total-saved-amount {
  font-weight: bold;
  color: var(--text-color);
  font-size: 1rem;
}
.pot-name {
  color: #6c757d;
  font-size: 8px;
}
.pot-amount {
  font-weight: 800;
  color: #353535;
  font-size: 0.5rem;
  letter-spacing: 1px;
}
.pot-values {
  border-left: 3px solid #313131;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 62px;
  max-height: 35px;
  margin: 4px 12px 0 0;
  border-radius: 2px;
}
.section-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}
/* //////////////////////////////////     TRANSACTIONS      /////////////////////////////////////// */

.transactions {
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.transactions-header h2 {
  font-weight: bold;
  font-size: 0.7rem;
  color: var(--text-color);
}
.transactions-header .see-details {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #6c757d;
  font-size: 12px;
  cursor: pointer;
  &:hover {
    color: black;
  }
}
.transactions-header {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
}
.transaction-item:last-child {
  border-bottom: none;
}
.transaction-item-left,
.transaction-item-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.user-image-container {
  background: gray;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.transaction-item-left img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.transaction-item-left p {
  font-weight: 700;
  color: #020202;
  font-size: 0.6rem;
}
.transaction-item-right {
  display: block;
  text-align: right;
}
.transaction-item-right .transaction-amount {
  font-weight: 600;
  color: #04c414;
  font-size: 0.5rem;
  letter-spacing: 1px;
}
.transaction-item-right .transaction-date {
  color: #6c757d;
  font-size: 12px;
}

/* /////////////////////////////////////    BUDGET    /////////////////////////////////// */
.budget {
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.budget-body {
  display: grid;
  place-content: center;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
  margin-top: 7px;
}
.budget-body .left-item {
  display: grid;
  place-content: center;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* /////////////////////////////////////    RECURRING    /////////////////////////////////// */
.recurring {
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.recur {
  margin-top: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  border-radius: 5px;
}
.recur h3 {
  font-weight: 700;
  color: #102011;
  font-size: 0.6rem;
  letter-spacing: 0.5px;
  transform: translateX(-10px);
}
.recur p {
  color: #6c757d;
  font-size: 12px;
}

/* //////////////////////////////////MEDIA QUERY FOR SIDEBAR SCREEN < 1000PX */

@media (max-width: 1000px) {
  .sidebar {
    border-top-left-radius: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 1rem;
    border-top: 1px solid #ccc;
    z-index: 999;
  }
  .sidebar .top-items {
    width: 100%;
  }

  .sidebar .top-items .list {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .sidebar .top-items .list .item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px;
    gap: 4px;
  }
  .sidebar ul li {
    border: none;
    width: 80px;
    background: linear-gradient(
      0deg,
      purple 0%,
      #f7eeee 100%
    ); /* bottom to top */
    background-size: 100% 0%; /* start hidden vertically */
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
  }
  .sidebar ul li:hover {
    background-size: 100% 100%; /* reveal vertically */
    border: none;
  }
  .sidebar ul li label {
    font-size: 10px;
  }
}
