.search-input-container {
  position: relative;
}

.search-input-Transactions {
  border: 1px solid rgb(143, 142, 142);
  background-color: transparent;
  font-size: 0.55rem;
  border-radius: 7px;
  padding: 12px 52px 12px 20px;

  &:focus {
    outline: none;
    border: 1px solid rgb(72, 203, 255);
  }
}

.search-icon {
  position: absolute;
  top: 10px;
  right: 30px;
}
